/JavaPrograms/nbproject/private/
/JavaPrograms/build/
/JavaPrograms/dist/
/JavaMultiplicationNumber/nbproject/private/
/JavaMultiplicationNumber/build/
/HourGlassSum/nbproject/private/
/HourGlassSum/build/
/HourGlassSum/dist/
/SpiralTravelling/nbproject/private/
/SpiralTravelling/build/
/SpiralTravelling/dist/
/RegexTutorial/nbproject/private/
/RegexTutorial/build/
/BracketsSequence/nbproject/private/
/BracketsSequence/build/
/BracketsSequence/dist/
/BeautifulPairs/nbproject/private/
/BeautifulPairs/build/